.wrapper {
  display: flex;
  // grid-template-columns: 10% 40% 10%;
  justify-content: center;
  align-items: center;
}
.yellow {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  background: radial-gradient(
      107.14% 107.14% at 50% 80.95%,
      #fa5c00 0%,
      #ffb800 100%
    ),
    #fa5c00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.wordOfDay {
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  @media screen and (max-width: 586px) {
    font-size: 16px;
  }
}
.generatedImagePrompts {
  width: 512px;
  height: 512px;
  display: grid;
  max-height: 512px;
  max-width: 512px;
  align-self: center;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
}
.masterpeice {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
  background: none;
  width: 92%;
  margin: 12px;
  border-bottom: 0.5px solid gray;
}
.bottom {
  align-self: end;
}

.submitVote,
.submitVote:focus {
  font-weight: 700;
  font-size: 16px;
  align-self: end;

  color: #ffffff;

  text-align: center;

  background: radial-gradient(
    107.14% 107.14% at 50% 80.95%,
    #fa5c00 0%,
    #ffb800 100%
  );
  box-shadow: 0px 8px 32px rgba(250, 92, 0, 0.32),
    inset 0px -4px 8px rgba(249, 155, 1, 0.6), inset 0px -8px 16px #c75c00;
  border-radius: 40px;
  width: 92%;

  margin-bottom: 12px;
  padding: 7px 0;
  outline: none;
}

.nftInfo {
  align-self: end;
  display: grid;
  grid-template-columns: auto auto;
  margin: 7px 24px;
  align-items: center;
  @media screen and (max-width: 586px) {
    display: block;
    margin: 7px 12px;
  }
}
.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
  align-self: left;
  text-align: left;
}
.nftButton {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  padding: 7px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 4px;
  width: 208px;

  justify-self: end;
}
.bb {
  cursor: pointer;
}

.nftContractInfo {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(60px);
  border-radius: 8px;
  width: 320px;
  height: 140px;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(60px);
  border-radius: 8px;
  justify-self: center;
  align-self: center;
}

.nfttext {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);

  text-align: left;
}

.generatedTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nftContractInfo {
  padding: 16px;
}

.polygon {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-decoration-line: underline;
  color: #ffffff;

  align-items: center;
  justify-content: left;
  grid-gap: 8px;

  span {
    text-decoration: none;
  }
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  // background-color: red;
  width: 100%;
  height: 100%;
  display: grid;
}
.cardContainer {
  height: 300px;
  @media screen and (min-width: 568px) {
    max-width: 300px;
    width: 90vw;
    margin: 0 20px;
    max-width: 512px;
    height: 512px;
  }
}
.card {
  width: 80vw;
  position: absolute;
  max-width: 300px;
  height: 300px;
  box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: end;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 568px) {
    margin: 0 20px;
    max-width: 512px;
    height: 512px;
  }
}
.card_title_overlay {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 41.15%
  );
  @media screen and (max-width: 586px) {
    height: 40%;
  }
}

.card_title {
  text-align: center;
  padding: 0 15px;
  bottom: 0;
  width: 100%;
}

.card_title_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: flex-start;
  height: 30px;
}
.nonButton {
  max-width: 72px;
  max-height: 72px;
  @media screen and (max-width: 586px) {
    max-width: 48px;
    max-height: 48px;
  }
}

.buttonClassHot {
  padding: 8px;
  align-self: center;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 568px) {
    padding: 12px;
  }
  &:hover{
    background: rgba(0, 0, 0, 0.4);
  }
}

.buttonClassNot {
  padding: 8px;
  align-self: center;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 568px) {
    padding: 12px;
  }
  &:hover{
    background: rgba(0, 0, 0, 0.4);
  }
}