.container {
  display: flex;
  justify-content: space-between;
}

.toastContainer {
  width: 246px;
  height: 40px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 41.15%
  );
  border-radius: 41px;
  display: flex;
  justify-content: center;
}
.toastText {
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  display: flex;
  align-items: flex-end;
  font-feature-settings: "salt" on;
  text-align: center;

  /* Whites/White - 80 */

  color: rgba(255, 255, 255, 0.8);
}
