.ModalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 34px;
  gap: 16px;
  position: relative;
  width: 282px;
  height: 244px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 41.15%
  );
  backdrop-filter: blur(60px);
  border-radius: 12px;
}

.LensInfo {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #ffffff;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  font-feature-settings: "salt" on;
  line-height: 25px;
  color: #01501e;
}
