@import "./svg/twitterIcon.module.scss";
$twitter-fill-color: #1da1f2;
@import "./svg/githubIcon.module.scss";
$github-fill-color: #FFFFFF;

.background{
  top: calc(100vh - 140px);
  @media only screen and (max-height: 768px) {
top: calc(100vh - 85px);
    }
}

.container {
  border-radius: 100px;
  gap: 8px;
  // width: 70%;
  font-size: 16px;

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  @media screen and (max-width: 586px) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    // width: 100%;
    border-radius: 0px 0px 20px 20px;
    font-size: 14px;
  }

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  linear-gradient(180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%);
  backdrop-filter: blur(12px);
  animation: transformBottomBar;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transform-origin: 0%;
}

@keyframes transformBottomBar {
  0% {
    margin-top: 100%;
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
    margin-top: 0%;
  }
}

.tabContainer {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10.5px 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(8px);
  border-radius: 100px;

  &:hover {
    height: 40px;
    // background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);

    // border-image-source: linear-gradient(
    //   180deg,
    //   rgba(255, 255, 255, 0.2) 0%,
    //   rgba(0, 0, 0, 0.2) 100%
    // );
    border-radius: 100px;
  }
}

.selectedTab {
  height: 40px;
  border-image-source: linear-gradient(180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%);
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 32px rgba(250, 92, 0, 0.32);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  cursor: default;

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  &:hover {
    cursor: default;
    background: rgba(0, 0, 0, 0.6);
  }
}

.twitterText {
  opacity: 0;
  height: 20px;
  z-index: 10;
}

.twitterTextSpace {
  width: 0px;
}

.twitterShare:hover .twitterText {
  opacity: 1;
  transition: opacity 1s;
}

.twitterShare:hover .twitterTextSpace {
  width: 120px;
  transition: width 1s;
}

.twitterShare:hover path {
  fill: $twitter-fill-color;
}

.githubText {
  opacity: 0;
  height: 20px;
  z-index: 10;
}
.githubShare:hover .githubText {
  opacity: 1;
  transition: opacity 1s;
}
.githubShare:hover path {
  fill: $github-fill-color;
}


// .twitterShareSpace {
//   width: 0px;
// }

// .twitterShareText {
//   opacity: 0;
//   height: 20px;
//   overflow: hidden;
//   z-index: 10;
// }

// .twitterShare:hover .twitterShareText {
//   opacity: 1;
//     transition: opacity 1s;
// }

// .twitterShare:hover .twitterShareSpace {
//   width: 90px;
//   transition: width 1s;
// }

.hiwSpace {
  width: 0px;
}

.hiwText {
  opacity: 0;
}

.howItWorks:hover .hiwText {
  opacity: 1;
  transition: opacity 1s;
}

.howItWorks:hover .hiwSpace {
  width: 90px;
  transition: width 1s;
}

.collectedNfts {
  position: absolute;
  right: 40%;
  top: -15px;
  transition: transform 0.6s easeInSine;
  transition: all;
}

@keyframes moveitback {
  0% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(0) scale3d(0.96, 0.96, 1);
  }
}

.collectedNfts div:first-child {
  
transform: rotate(-6deg) !important;
  transition-delay: 0.25s;
  transition-duration: 2s;
  object-fit: contain;
}

.collectedNfts div:last-child {
 

  transform: rotate(6deg) !important;
    transition-delay: 0.25s;
    transition-duration: 2s;
    object-fit: contain;
}

.bottomContainer {
  position: absolute;
  bottom: 0;
  height: 109px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 49.99%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.madeWithPLG {
  align-items: center;
}

.Typewriter{
  display: flex;
  width: 227px;
}

.madeWithPLG:hover {
  color: #fff;
}

// .background {
//   background: rgba(0, 0, 0, 0.6);
//   backdrop-filter: blur(12px);
//   border-radius: 100px;
// }

@media only screen and (max-width: 1024px) ,
screen and (max-height: 712px){
  .background{
    display: flex;
  }
  .leftBar{
    width: 50%;
  }
  .madeWithPLG{
    width: 100%;
  }
  .container {
    display: none;
  }
  .collectedNfts
  {
    display: none;
   }
   .needHelp{
    margin-left: 199px;
   }
}

@media only screen and (max-width: 700px) {
  .background{
    flex-direction: column;
    gap: 10px;
    top: calc(100vh - 99px);
  }
 .leftBar{
  width: unset;
  padding-left: 53px;
  margin-top: unset;
 }
 .madeWithPLG{
  width: unset;
  padding-right: unset;
  font-size: 12px;
 }
 .needHelp {
   margin-left: unset;
 }
}