@import "./svg/twitterIcon.module.scss";
$twitter-fill-color: #1da1f2;

.container {
  border-radius: 100px;
  gap: 8px;
  // width: 70%;
  font-size: 16px;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  @media screen and (max-width: 586px) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    // width: 100%;
    border-radius: 0px 0px 20px 20px;
    font-size: 14px;
  }
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10.5px 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
  }
}

.selectedTab {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 32px rgba(250, 92, 0, 0.32);
  border-radius: 100px;
  cursor: default;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  &:hover {
    cursor: default;
    background: rgba(0, 0, 0, 0.6);
  }
}
.twitterText {
  opacity: 0;
  height: 20px;
  overflow: hidden;
  z-index: 10;
}
.twitterShare:hover .twitterText {
  opacity: 1;
  transition: opacity 1s;
}
.twitterShare:hover path {
  fill: $twitter-fill-color;
}
.hiwSpace {
  width: 0px;
}
.hiwText {
  opacity: 0;
}
.howItWorks:hover .hiwText {
  opacity: 1;
  transition: opacity 1s;
}

.howItWorks:hover .hiwSpace {
  width: 90px;
  transition: width 1s;
}
