.popup {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.submitForVoteInfo {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 41.15%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(60px);
    border-radius: 12px;
    width: 384px;
    height: 494px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.submitVote,
.submitVote:focus {
  font-weight: 700;
  font-size: 16px;
  align-self: center;
  color: #ffffff;
  text-align: center;
  background: radial-gradient(
    107.14% 107.14% at 50% 80.95%,
    #fa5c00 0%,
    #ffb800 100%
  );
  box-shadow: 0px 8px 32px rgba(250, 92, 0, 0.32),
    inset 0px -4px 8px rgba(249, 155, 1, 0.6), inset 0px -8px 16px #c75c00;
  border-radius: 40px;
  width: 92%;
  margin-bottom: 12px;
  padding: 7px 0;
  outline: none;
  cursor: pointer;
}