@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@rainbow-me/rainbowkit/styles.css";

@font-face {
  font-family: "Satoshi";
  src: url(https://static.staging.whisperchain.xyz/fonts/Satoshi-Variable.woff2) format('woff2'),
    url(https://static.staging.whisperchain.xyz/fonts/Satoshi-Variable.woff) format('woff'),
    url(https://static.staging.whisperchain.xyz/fonts/Satoshi-Variable.ttf) format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --color-text-base: 255, 255, 255;
  --color-text-green: 1, 80, 30;
  --color-text-inverted: 79, 70, 229;
  --color-fill: 67, 56, 202;
  --color-button-accent: 255, 255, 255;
  --color-button-accent-hover: 238, 242, 255;
  --color-button-muted: 99, 102, 241;
}

@layer base {
  html,
  body {
    @apply font-satoshi;
  }
}

html,
body {
  margin: 0;
  line-height: 1.2;
  color: var(--color-text-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "salt" on;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
