.modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .modalContent {
    width: 460px;
    min-height: 200px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 41.15%);
    color: #ffffff;
    padding: 25px;
    backdrop-filter: blur(60px);
  }
  .nftTitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
  }
  .nftOwner{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6);
  }
  .nftFee{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 7px 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }
  .collectorCount{
    padding: 7px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
  }
  .collectButton{
    width: 100%;
    background: radial-gradient(107.14% 107.14% at 50% 80.95%, #FA5C00 0%, #FFB800 100%);
    box-shadow: 0px 8px 32px rgba(250, 92, 0, 0.32), inset 0px -4px 8px rgba(249, 155, 1, 0.6), inset 0px -8px 16px #C75C00;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }