.container {
  margin: auto;
  width: calc(100% - 100px);
}
.carouselItems {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 -10px;
}
.carouselItem {
  display: flex;
  width: 125px;
  height: 125px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.prev {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}
.next {
  color: #ffffff;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.trending {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  top: 5px;
  right: 10px;
}
